/* Import */
@import '../../palette/Colors.css';

/* Sidebar Styles */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-sidebar-background);
    width: 200px;
    height: 100vh;
    padding-top: 20px;
    overflow: hidden;
    transition: width 0.2s ease-in-out;
}

.sidebar.closed {
    width: 50px;
}

/* Logo Container Styles */
.logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.logo-container img {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

/* Container Styles */
.container {
    width: 100%;
    margin-top: 50px;
    padding-bottom: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - 50px);
    overflow-x: hidden;
}

/* Navigation Styles */
.nav {
    width: 100%;
    padding-left: 15%;
}

.nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav ul li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav ul li img {
    width: 20px;
    transition: transform 0.1s ease-in-out;
}

.nav ul li a {
    flex: 1;
    max-width: 80%;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    color: var(--dark-sidebar-font);
}

.nav ul li a:hover {
    background-color: var(--dark-sidebar-hover);
}

/* Divisor Styles */
.container hr {
    width: 80%;
    margin-top: 50px;
    border: none;
    height: 2px;
    background-color: var(--dark-sidebar-divisor);
}

/* Theme Selector Styles */
.theme-selector {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
}

.theme-selector p {
    color: var(--dark-sidebar-font);
}

.theme-selector .btn {
    border-radius: 20px;
    border: 1px solid var(--dark-sidebar-border-button);
    background: none;
    padding: 2px;
    width: 55px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.theme-selector .btn button {
    height: 100%;
    width: 50%;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.theme-selector .btn button:hover {
    background-color: var(--dark-sidebar-hover-button);
}

.theme-selector.light .btn button {
    transform: translateX(100%);
}

/* User Styles */
.user-container {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    gap: 15px;
    width: 100%;
}

.user-container .user .username {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}

.user-container .user .username img {
    width: 13%;
    height: auto;
}

.user-container img {
    height: 50px;
    width: 50px;
}

.user-container .user-status {
    color: var(--dark-sidebar-opaque-font);
}

/* Light Theme Styles */
body.theme-light .sidebar {
    background-color: var(--light-sidebar-background);
}

body.theme-light .sidebar h1,
body.theme-light .sidebar p,
body.theme-light .sidebar .container .nav ul li a {
    color: var(--light-sidebar-font);
}

body.theme-light .sidebar .theme-selector .btn {
    border: 1px solid var(--light-sidebar-border-button);
    background-color: var(--light-sidebar-background-button);
}

body.theme-light .sidebar .theme-selector .btn button {
    background-color: var(--light-sidebar-background-button-circle);
}

body.theme-light .sidebar .theme-selector .btn button:hover {
    background-color: var(--light-sidebar-hover-button);
}

body.theme-light .sidebar .user-container {
    border-top: 1px solid var(--light-sidebar-border-user);
}

body.theme-light .sidebar hr {
    background-color: var(--light-sidebar-divisor);
}

body.theme-light .sidebar .nav ul li a:hover {
    background-color: var(--light-sidebar-hover);
}
