
.table-tasks{
    display: flex;
    flex: 1;
    flex-direction: column;
}

/* --------------------------add new task--------------------------*/
.new-task {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: none;
    padding: 0 10px ;
    width: 100%;
}

.new-task .newTask-btn {
    display: flex;
    align-items: center;
    background: none;
    text-align: center;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    gap: 5px;
    font-weight: 500;
}

.new-task .newTask-btn img {
    height: 80%;
}

.new-task .newTask-btn:hover {
    transform: scale(103%);
}

.new-task input {
    border: 1px solid white;
    height: 30px;
    width: 500px;
    padding: 0 5px;
    background: none;
}

body.theme-light .new-task input{
    border: 1px solid black;
}

body.theme-light .newTask-btn{
    color: black;
}


/* ======================CUSTOM TABALE==================== */
.table table{
    table-layout: fixed;
    width: 100%;  
}

.table th{
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.table{
    margin-top: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.table .table-header{
    padding-right: 15px;
    padding: 5px 20px;
    border: 1px solid #342d9b8e;
    background: #03002e;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

.table .table-header #header{
        display: flex;
}

.table .table-header #header #id{
    text-align: center;
    flex: 1;
}

.table .table-header #header #description{
    margin-left: 20px;
    flex: 20;
}

.table .table-header #header #status{
    flex: 3;
    text-align: center;
    margin-right: 10px;
}
.table .table-data{
    overflow-y: auto;
    max-height: 100%;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    color: #fff;
    padding: 0 20px;
    flex: 1;
}
/* ------------ custom scrollbar ------------- */
::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    border-radius: 10px;
    background: none
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#2c2869,#242069,#201d5e, #211d5c,#201d5e,#242069,#2c2869);
    /* background: #343b53; */
    border-radius: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
}

::-webkit-scrollbar-button:end:increment {
    background-image: url('src/assets/scrollbar-button-up2.png');

}
 
::-webkit-scrollbar-button:start:decrement {
    background-image: url('src/assets/scrollbar-button-dwn2.png'); 

}




