@import '../../../palette/Colors.css';

.table-tasks{
    display: flex;
    flex-direction: column;
}

/* --------------------------add new task--------------------------*/
.new-task {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: none;
    padding: 0 10px ;
    width: 100%;
}

.new-task .newTask-btn {
    display: flex;
    align-items: center;
    background: none;
    text-align: center;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    gap: 5px;
    font-weight: 500;
    
}

.new-task .newTask-btn img {
    height: 80%;
}

.new-task .newTask-btn:hover {
    transform: scale(103%);
}

.new-task .newTask-btn:active{
    transition: .1s;
    color: black;
}

.new-task input {
    border: 1px solid var(--dark-newtask-input-border);
    border-radius: 5px;
    height: 30px;
    width: 500px;
    padding: 0 5px;
    background: none;
}

.new-task span{
    font-size: .7rem;
    color: rgb(194, 58, 58);
    visibility: hidden;
}
.new-task span.show{
    visibility: visible;
}

.new-task input.null{
    border-color: red;
}


/* ======================CUSTOM TABALE==================== */
.table table{
    table-layout: fixed;
    width: 100%;
}


.table th{

  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--dark-header-font);
  text-transform: uppercase;
}

.table{
    margin-top: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.table .table-header{
    border: 1px solid var(--dark-header-border);
    background: var(--dark-header-background);
    margin-bottom: 10px;
    border-radius: 10px;
}

.table .table-header #header{
    display: flex;
    padding-right: 15px;
    gap: 10px;
}

.table .table-header #header #trash{
    flex: .2;
    padding: 0 2px;
}

.table .table-header #header #id{
    text-align: center;
    flex: .3;

}

.table .table-header #header #description{
    flex: 5;
}

.table .table-header #header #status{
    text-align: center;
    flex: .6;
}


.table .table-header #header #concluded{
    flex: .8;
    padding-left: 5px;
}

.table .table-data{
    overflow-y: auto;
    flex: 1;
}
/* ------------ custom scrollbar ------------- */
::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    border-radius: 10px;
    background: none
}

::-webkit-scrollbar-thumb{
    background: var(--dark-scrolbar-thumb);
    border-radius: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
}

::-webkit-scrollbar-button:end:increment {
    background-image: url('src/assets/scrollbar-button-up2.png');

}
 
::-webkit-scrollbar-button:start:decrement {
    background-image: url('src/assets/scrollbar-button-dwn2.png'); 

}

/* LIGHT THEME */



body.theme-light .new-task input{
    border: 1px solid var(--light-newtask-input-border);
}

body.theme-light .newTask-btn{
    color: var(--light-newtask-input-border);
}

body.theme-light .table th{
    color: var(--light-header-font);
}

body.theme-light .table .table-header{
    border: 1px solid var(--light-header-border);
    background: var(--light-header-background);
}

body.theme-light .table .table-data{
    color: var(--light-content-font);
}

body.theme-light ::-webkit-scrollbar-thumb{
    background: var(--light-scrolbar-thumb);
    border-radius: 10px;
}

