.table-tasks{
    display: flex;
    flex: 1;
    flex-direction: column;
}

/* --------------------------add new task--------------------------*/
.new-task {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: none;
    padding: 0 10px ;
    width: 100%;
}

.new-task .newTask-btn {
    display: flex;
    align-items: center;
    background: none;
    text-align: center;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    gap: 5px;
    font-weight: 500;
}

.new-task .newTask-btn img {
    height: 80%;
}

.new-task .newTask-btn:hover {
    transform: scale(103%);
}

.new-task input {
    border: 1px solid white;
    height: 30px;
    width: 500px;
    padding: 0 5px;
    background: none;
}

body.theme-light .new-task input{
    border: 1px solid black;
}

body.theme-light .newTask-btn{
    color: black;
}


/* ======================CUSTOM TABALE==================== */
.table table{
    table-layout: fixed;
    width: 100%;  
}

.table th{
  text-align: left;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.table{
    margin-top: 10px;
    flex: 1;
}

.table .table-header{
    padding-right: 15px;
    border: 2px solid white;
}

.table .table-header #header{
        display: flex;
}

.table .table-header #header #id{
    text-align: center;
    flex: 2;
}

.table .table-header #header #description{
    flex: 15;
}

.table .table-header #header #status{
    flex: 3;
    text-align: center;

}

.table .table-data{
    overflow-y: auto;
    max-height: 100%;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    color: #fff;
}

/* ------------ custom scrollbar ------------- */
::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background: #bebdbd;
}

::-webkit-scrollbar-thumb{
    background: rgb(104, 102, 102);
    border-radius: 1px;
    border: 1px solid black;
}


