@import '../src/palette/Colors.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Times New Roman', Times, serif,sans-serif;
    color: #fff;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    font-size: 16px;
    background: var(--dark-body-background);
    transition: .2s;
}

body.theme-light {
    background-color: #fff;
}