.task{
    padding: 10px 20px;
    max-height: 100vh;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.task .days{
    max-width: 1500px;
}

.task .days ul{
    display: flex;
    align-items: center;
    gap: 4vw;
    padding: 0 10px;
    padding-bottom: 10px;
}
.task .days ul li {
    transition: transform .2s ;
}

.task .days ul li button{
    background: none;
    border: none;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    cursor: pointer;
    transition: .1s;
}

.task .days ul li button h4{
    color: #b3b3b3;
}

.task .days ul li button hr{
    border: none;
    border-radius: 75px;
    background-color: #b3b3b3;
    width: 100%;
    height: 2px;
}



/* HOVER */

.task .days ul li button:hover h4{
    color: aliceblue;
}

.task .days ul li button:hover hr{
    background-color: aliceblue ;
}

.task .days ul li:hover{
    transform: scale(110%);
}


/* ---------TASKS CONTAINER----- */
.task .task-container{
    padding: 20px 30px;
    width: 100%;
    flex: 1;
    background-color: #05051d;
    border-radius: 10px;
}

.task .task-container .new-task{
    display: flex;
    align-items: center;
    gap: 10px;
}

.task .task-container .new-task .newTask-btn{
    background-color: #d8690f;
    text-align: center;
    height: 25px;
    padding: 2px 7px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.task .task-container .new-task input{
    border-radius: 10px;
    border: none;
    height: 25px;
    padding: 0 5px;
}


.task .task-container hr{
    border: none;
    height: 2px;
    background-color: rgba(238, 234, 234, 0.342);
    margin-top: 10px;
}


.task .task-container .table{
    margin-top: 30px;
    display: grid; 
    grid-template-columns: 15px 50px 1fr 200px;
    grid-template-rows: 40px;
    grid-auto-rows: 40px;
}

.task .task-container .table input{
    background: none;
    color: white;
    border: none;
    border-top: 2px solid  rgba(247, 246, 246, 0.288);
    box-shadow: none;
    font-size: 1.1rem;
}

.task .task-container .table input::placeholder{
    color: #f7f7f742;
}

.task .task-container .table input:focus{
    outline: none;
}

.task .task-container .table  #description-header{
    grid-column:3;
}
.task .task-container .table  #status-header{
    grid-column:4;
}

.task .task-container .table #task-check{
    grid-column: 1;
    cursor: pointer;
}
.task .task-container .table #task-id{
    grid-column: 2;
    margin-left: 10px;
    
}

.task .task-container .table #task-idescription{
    grid-column: 3;
}

.task .task-container .table #status-id{
    grid-column: 4;
}

